/* ------------------------------
		 Layouts
------------------------------ */
.masonry-layout{
	.card {
    	border: 0;
		border-radius: 0;
		margin-bottom:0px;
		background-color: transparent;
	}
	
	.card-columns {
    	-webkit-column-count: 3;
    	column-count: 3;
		column-gap: 30px;
    	.card {
			margin-bottom: 20px;
			margin-top: 40px;
		}
		.post-card{
			margin-bottom: 0px;
		}
	}
}

.col2-layout{
	.card-columns {
    	-webkit-column-count: 2;
    	column-count: 2;
	}
	.post-card{
		margin-bottom:30px;
	}
}















