/* ------------------------------
		  Widget
------------------------------ */
.widget{
	background-color: $white-color;
	padding: 30px;
	border-radius: $rd-round;
	margin-bottom:30px;
	@include shadow();
	.title{
		margin-bottom:20px;
	}
	
	&-author{
		text-align: center;
		.image{
			position:relative;
			width:100px;
			height: 100px;
		}
		img{
			width:100px;
			height: 100px;
			border-radius: $rd-circle;
			margin-bottom:15px;
		}	
		h6{
			font-size: 20px;
			text-align: center;
			margin-bottom:15px;	
			font-weight: 900;  
		}
		p{
			text-align: center;
			margin-bottom:20px;
		}
		.social-icones{
			margin:auto;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.link{
			margin-bottom:10px;
		}
	}

	&-latest-posts{
		.last-post{
			@include small-post();
			&:last-child{
				margin-bottom: 0;
			}
		} 	
	}

	&-categories{
		li{
			background-color: $light-color;
			padding: 15px 20px;
			border-radius: 10px;
			margin-bottom:15px;
			a{
				font-weight: 700;
				&:hover{
					color:$base-color;
				}
			}
			span{
				float: right;
				color:$text-color;
				padding: 2px 10px;
				border-radius: $rd-round;
				font-size: 14px;
				font-weight: 700;
			}
			&:last-child{
               margin-bottom:0px;
			}
		}
	}

	&-instagram{
		display: grid;
  		grid-template-columns: auto auto auto;
  		grid-template-rows:auto auto ;
  		grid-gap: 10px;
		li{
			overflow: hidden;
			border-radius: $rd;
        	img{
				border-radius: $rd;
				@include easeInOut(0.9);
				&:hover{
					transform: scale(1.1);
				}	
        	}	
		}
	}

	&-comments{
		margin-bottom:70px;
    	.comment-item{
        	display: flex;
			margin-bottom:50px;
        	img{
            	width:80px;
            	height:80px;
            	border-radius: $rd-circle;
            	margin-right:15px;
        	}
        	.content{
				p{
                  margin-bottom:15px;
				}
           	   .info{
					display: flex;
					align-items: center;
					margin-bottom:10px;
					li{
						margin-bottom:0;
						font-size: 14px;
						color:$text-color;
						text-transform: capitalize;
						font-weight: 400;	
						&.dot{
							margin:2px 15px !important;
						}
						
					}	
			  	}
            }
       	}
    }
	
	&-form{
		.form-group{
      		margin-bottom: 20px;
		}
 		.form-control{
			background-color:$light-color;
			border:1px solid $eee; 
			border-radius: $rd-round;
			padding: 22px 20px;
			font-size: 14px;
			color:$dark-color;
			display: inline-block;
			@include easeInOut(0.5);
			cursor: pointer;
			&:focus,
			&:hover{
				@include shadow();
				background-color: $white-color;
			}
		}
		label{
			font-weight: 400;
			font-size: 14px;
			span{
				line-height: 0;
			}
		}
	}

	&-next-post,
	&-previous-post{
		.small-post{
			@include small-post();
		  	&:last-child{
			  margin-bottom:0;
		  	}
		}
	}
	&-tags{
		@include tags();
	}
}