{% extends "maindashboard.html.twig" %}


{% block body %}

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Utilisateurs</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">

                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Utilisateur</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Statut</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>

                  <tbody>
                  {% for user in users %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                          
                            <h6 class="mb-0 text-sm">{{ user.adminLogin }}</h6>
                            <p class="text-xs text-secondary mb-0">{{ user.userMail }}</p>
                          
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        {% if user.adminStatus %}
                          <span class="badge badge-sm bg-gradient-success">Admin</span>
                        {% else %} 
                          <span class="badge badge-sm bg-gradient-secondary">En attente</span>
                        {% endif %}
                      </td>

                      {% if user.adminStatus %}
                      <td class="align-middle">
                        <form class="form-horizontal" action="/deletecred" method="post">
                          <br />
                          <div class="form-actions">
                          <input type="hidden" name="adminLogin" value=" {{ user.adminLogin }} " />  
                          <button type="submit" class="btn btn-danger" name="delete">Retirer les droits</button>
</div>
</td>
                      {% else %} 
                        <td class="align-middle">
                          <form class="form-horizontal" action="/addcred" method="post">
                            <br />
                          <div class="form-actions">
                            <button type="submit" class="btn" name="add">Ajouter les droits</button>
                          </div> 
                        </td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                  </tbody>


                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
{% endblock %}