{% extends "main.html.twig" %}


{% block body %}

    <section class="section pt-55 mb-50">
        <div class="container-fluid">
            <div class="page404  widget">
                <div class="image">
                    <img src="/img/404.jpg" alt="">
                </div>
                <div class="content">
                    <h1>500</h1>
                    <h3>Cette page ne fonctionne pas.</h3>
                    <p>Impossible de traiter cette demande pour le moment. </p>
                    <a href="/" class="btn-custom">Retourner à la page d'accueil.</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}